
<!-- contendio home -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center main-header">
				<img src="https://images.kojaro.com/2015/12/fast-food-maka.jpg">

			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class=" left-side-info">

				</div>
			</div>

			<div class="col-md-9">

				<!-- ============= INICIO PARTE PABLO ====== -->
				<br>
				<% Category.all.each do |category| %>
					<div class="row">
						<div class="col-md-12 food-title">
							<p><%= category.name.upcase %></p>
						</div>

						<% category.products.first(3).each do |product| %>

							<div class="col-md-4">
								<div class="text-center food">
									<%= image_tag(product.image_url) %>
								</div>
								<div class="form-group">
									<label for="exampleFormControlSelect1">Cantidad</label>
									<select class="form-control" id="exampleFormControlSelect1">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
						<% end %>
						<div class="space"></div>
					</div>
				<% end %>
			</div>
				<!-- ============= FIN PARTE PABLO ====== -->


				<!-- ============= INICIO PARTE ANDREA ====== -->

<!-- 				<div class="row">
					<div class="col-md-12 food-title">
						<p>PAPAS FRITAS</p>
					</div>


					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.first.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>


					<div class="col-md-4">
						<div class="text-center food">
							<%= image_tag("fries_2.jpg") %>
							<%#= image_tag(Product.second.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.third.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</div>

				<div class="space"></div>

				<div class="row">
					<div class="col-md-12 food-title">
						<p>HAMBURGUESAS</p>
					</div>

					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.fourth.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.fifth.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.first(6).last.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</div>

				<div class="space"></div>

				<div class="row">
					<div class="col-md-12 food-title">
						<p>BEBIDAS</p>
					</div>
					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.first(7).last.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.first(8).last.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div class="col-md-4">
						<div class="text-center food">
							<%#= image_tag(Product.first(9).last.image_url) %>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Cantidad</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</div> -->
			<!-- ============= FIN PARTE ANDREA ====== -->

		</div>
	</div>
<br><br><br>
