
.navbar {

}

.footer {
	margin-top: 30px;
}


.footer table {
	height: 100px;
	margin-bottom: 0;
}

.footer table tbody tr td {
	padding-top: 35px;
}

.container {
	margin-top: 70px;
}

.main-header {
	/*margin-top: 7%;*/
	background: #fff url('fast-food-header.jpg') no-repeat center top;
}

.logo-header {
	max-width: 40%;
}

.food-main-title {
	margin-top: 20px;
	background-color: #e96f01;
	margin-bottom: 30px;
}

.food {
	text-align: center;
}

.food img {
	max-width: 35%;
}

.product-list-container {
	margin-bottom: 0px;
}

.category-name {
	padding: 2px 0;
}

.btn-accept-order {
	min-width: 200px;
}
