
.container-a {
	margin-top: 5%;
	border: solid 2px #ccc;
	padding-top: 20px;
}

.main-header img{
	width: 100%;
}

.food-main-title {
	margin-top: 20px;
	background-color: #e96f01;
	margin-bottom: 30px;
}

.food-title {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: -0.95px;
	color: #ff8d07;
}
.food {
	min-height: 150px;
}
.food img {
	max-width: 70%;
}

.left-side-info {
	border: solid 1px #000;
	min-height: 800px;
	margin: 20px 0 20px 20px;
}